{% extends "AppCpder/padre.html" %}
	{% load static %}

{% block contenidoQueCambia %}
    <body style="background-color: lightblue;">
        <h1>Vista cursos</h1>
        <h2>Formulario - Agregar curso</h2>
        {% if miFormulario.errors %}
        
        <p style="color: red;">Están mal los datos, revisar</p>
        {% endif %}

        <form action="" method="POST"> 
            {% csrf_token %}
            <!--Acá esta la magia de Django-->
            {% comment %} <p>Curso: <input type="text" name="curso"> </p>
                    <!-- input: son espacion para escribir informacion -->
            <p>Camada: <input type="number" name="camada"> </p> {% endcomment %}
            
            <table>
                {{ miFormulario.as_table }}
            </table>

            <input type="submit",value="Enviar">

        </form>
    </body>
{% endblock %}