{% extends "AppCpder/padre.html" %}
	{% load static %}

{% block contenidoQueCambia %}
    <body style="background-color: lightblue;">
        <h1>Vista cursos</h1>
        <h2>Formulario - Agregar curso</h2>
        {% if miFormulario.errors %}
        
        <p style="color: red;">Están mal los datos, revisar</p>
        {% endif %}

        <form action="" method="POST"> 
            {% csrf_token %}
            
            <table>
                {{ miFormulario.as_table }}
            </table>

            <input type="submit",value="Enviar">

        </form>
    </body>
{% endblock %}