{% extends "AppCpder/padre.html" %}
	{% load static %}
{%block contenidoQueCambia %}
	{% comment %} Aqui lo que cambia, y lo asociado a esta vista :) {% endcomment %}

    {% comment %} </h1> Este es el titulo del Inicio que cambio </h1>
    <p> Se ha heredado todo desde la plantilla padre </p>
    <h3>En el hijo, inicio. html, casi no hay nada :)</h3> {% endcomment %}
    
    
    {% if cursos %}
        <p>Estamos buscando el: {{camada}}</p>
        <ul>
        {% for curso in cursos %}
            <li> {{curso.nombre}} - {{curso.camada}}  </li>
        {% endfor %}
        </ul>
        {% comment %} {% else %}
        <p>No hay datos con esa descripcion</p> {% endcomment %}
    {% endif %}

    <p style = "color: red;">{{respuesta}}</p>

    <h1 style = "color: blue;">{{mensaje}}</h1>

{% endblock %}