{% extends "AppCpder/padre.html" %}
	{% load static %}

{% block contenidoQueCambia %}
    <body style="background-color: lightgray;">
        <h1>Vista profesores</h1>
        <h2>Formulario - Agregar Profesor</h2>

        <a href="showProfesores">Lista de profesores</a> 

        {% if miFormulario.errors %}
        <p style="color: red;">Están mal los datos, revisar</p>
        {% endif %}
        
        <form action="" method="POST"> {% csrf_token %}
            <!--Acá esta la magia de Django-->
            
            <table>
                {{ miFormulario.as_table }}
            </table>
            
            <input type="submit",value="Enviar">
            
        </form>
        
    </body>
{% endblock contenidoQueCambia %}