{% extends "Aula/padre.html" %}
	{% load static %}

{% block contenidoQueCambia %}
    <body>
        <h1>Vista editar profesores</h1>
        <h2>Formulario - Agregar Profesor</h2>

        {% if miFormulario.errors %}
        <p style="color: red;">Están mal los datos, revisar</p>
        {% endif %}
        
        <form action="" method="POST"> {% csrf_token %}
            <!--Acá esta la magia de Django-->
            
            <table>
                {{ miFormulario.as_table }}
            </table>
            
            <input type="submit",value="Enviar">
            
        </form>
        
    </body>
{% endblock contenidoQueCambia %}